@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

:root {
    --primary-color : #00b3a0;
    --secondary-color : white;
}

body {
    font-family: 'Cairo', sans-serif;
    text-align: center;
    display: block;
    background-image: url(/images/bg.svg);
    background-attachment: fixed;
}

#input-box {
    display: block;
    border: 3px var(--primary-color) solid;
    border-collapse: separate;
    border-spacing: 0.5rem 0.5rem;
    height: 20vh;
    margin: 2rem auto;
    width: 90%;
    text-align: center;
    border-radius: 0.5rem 0.5rem;
    padding: 1rem;
    font-family: 'Cairo', sans-serif;
    font-size: larger;
}

#output-box {
    font-family: 'Cairo', sans-serif;
    border: 3px var(--primary-color) solid;
    height: 20vh;
    width: 90%;
    margin: auto;
    text-align: center;
    border-radius: 0.5rem 0.5rem;
    padding: 1rem;
    margin: 2rem auto;
    overflow: auto;
    font-size: larger;
    background-color: var(--secondary-color);
}

#translate-button {
    font-family: 'Cairo', sans-serif;
    padding: 0.5rem;
    border-radius: 0.5rem 0.5rem;
    border: 3px var(--primary-color) solid;
    font-size: larger;
    background-color: white;
}

#white-space {
    background-color: var(--secondary-color);
    text-align: center;
    border-radius: 1rem 1rem;
    padding: 2.5rem;
    max-width: 85%;
    margin: auto;
    text-align: center;
}

p {
    font-weight: 600;
}
